<a href="https://colab.research.google.com/github/UnitForDataScience/Python_Workshops/blob/master/Workshop_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

https://docs.python.org/3/tutorial/

# The Basics

Commenting

In [ ]:
# This is a comment
This is not a comment #NOTE: This will cause error

Value Assignment

In [ ]:
a # Nothing assigned, will result in error

In [ ]:
a = 1
b = 2
c = 3
a

Simple Math

In [ ]:
a + b

In [ ]:
d = a + b
d

In [ ]:
e = b*c
e

In [ ]:
f = e/b
f

Logic Statements

In [ ]:
3 >= 2

In [ ]:
4 < 4

In [ ]:
4 == 4

In [ ]:
a != b

# Data Structures

Lists

In [ ]:
List = [3, 4, 5]
List.append(6)
List.append(7)
List

In [ ]:
List[0]

In [ ]:
List[1:4]

Nested Lists

In [ ]:
matrix = [
        [1, 2, 3, 4],
        [5, 6, 7, 8],
        [9, 10, 11, 12],
        ]
matrix

In [ ]:
matrix[0][2]

In [ ]:
matrix[0][2] = 13 # Can be modified
matrix[0][2]

Tuples and Sequences

In [ ]:
t = 12345, 54321, 'hello!'
t

In [ ]:
t[0]

In [ ]:
u = t, (1, 2, 3, 4, 5) # Can be nested
u

In [ ]:
t[0] = 54321 # Can't modify single value

Sets

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'} 
basket # Duplicates are removed, only contains unique values

In [ ]:
basket[0] # Can't pull single value

In [ ]:
'orange' in basket  # Fast membership testing

In [ ]:
'crabgrass' in basket

In [ ]:
g = set('abracadabra')
h = set('alacazam')
g

In [ ]:
g - h # Letters in a but not in b

In [ ]:
g | h # letters in a or b or both

In [ ]:
g & h # letters in both a and b

In [ ]:
g ^ h # letters in a or b but not both

Dictionary

In [ ]:
tel = {'jack': 4098, 'snape': 4139}
tel

In [ ]:
tel['guido'] = 4127
tel

In [ ]:
tel['jack']

# Control Flow

If statement

In [ ]:
if b >= a:
  z = a + b + c 
z

For Loop

In [ ]:
for i in range(10):
  print(i)

In [ ]:
j = 0
while j<10:
  j=j+1
  print(j)

# Functions

In [ ]:
#____________________What is a function?______________________________ 

print("Hello World")

In [ ]:
print(Hello World) # NOTE: This will not work

In [ ]:
abs(-1)

User defined functions

In [ ]:
def new_function(k, n):
  m = k**2 + n          # NOTE: Exponent syntax different than R 
  print(m)              # NOTE: Indents matter

In [ ]:
new_function(6, c)

Combining functions with control flow

In [ ]:
def new_function_1(a):
  for i in range(a):
    b = (i+1)**2
    print(b)

In [ ]:
new_function_1(5)

# Utilizing packages

In [ ]:
import __hello__

In [ ]:
import this

In [ ]:
import numpy as np

np.ceil(0.29)